:root {
  --purple: #7d39ff;
  --black: #1b1b1b;
  --text-primary: #4a4a4a;
  --text-secondary: #9b9b9b;
  --white: #ffffff;
  --green: #58c4a1;
  --grey: #bcbcbc;
  --grey-light: #f8f8f8;
  --grey-light-second: rgba(155, 155, 155, 0.5);
  --form-grey: #fdfdfd;
  --border-grey: #ececec;
}
